.sheet {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.attributes {
  display: flex;
  gap: 1rem;
}

.attributeLabel {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  text-transform: capitalize;

  .modifier {
    font-weight: bold;
    text-align: center;
  }
}

.totals {
  display: flex;
  gap: 1rem;
  font-weight: bold;
}

.chatRow {
  display: flex;
  gap: 0.5rem;

  input {
    flex: 1;
  }
}
