.sideNav {
  display: flex;
  flex-direction: column;
  width: 50px;
  background-color: var(--op2-bg-sec);
  border-left: 2px solid var(--op2-border);
  padding-top: 1.5rem;
  gap: 0.5rem;
  flex-shrink: 0;

  .navBtn {
    background: transparent;
    border: none;
    color: var(--op2-text-sec);
    font-size: 1.5rem;
    padding: 15px 0;
    cursor: pointer;
    transition: all 0.2s;
    border-left: 3px solid transparent;

    &:hover { color: var(--op2-text-main); }
    
    &.active {
      color: var(--theme-color);
      border-left: 3px solid var(--theme-color);
      background: var(--op2-bg-card);
    }
  }
}